.product-page {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  padding-top: 10px;
}

.product-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 30px;
  gap: 40px;
  max-width: 1350px;
  margin: auto;
}

.left-column {
  width: 520px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  position: sticky;
  top: 120px;
  height: fit-content;
}

.image-thumbnails {
  width: 70px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.thumb-img {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.2s ease;
}

.thumb-img:hover {
  border-color: #2874f0;
  transform: scale(1.05);
}

.active-thumb {
  border: 2px solid #2874f0;
  box-shadow: 0 0 5px rgba(40, 116, 240, 0.5);
}

.main-image {
  width: 430px;
}

.main-image img {
  width: 420px;
  height: 420px;
  object-fit: contain;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 18px;
}

.cart-btn {
  background-color: #ff9f00;
  color: white;
  border: none;
  padding: 14px 40px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.buy-btn {
  background-color: #fb641b;
  color: white;
  border: none;
  padding: 14px 40px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.cart-btn:hover,
.buy-btn:hover {
  opacity: 0.9;
}

.right-column {
  flex: 1;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-title {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 600;
  color: #212121;
}

.share-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 15px;
}

.share-btn:hover {
  color: #2874f0;
}

.rating-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating {
  background: #388e3c;
  color: white;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 13px;
}

.reviews {
  font-size: 14px;
  color: #777;
}

.assured-logo {
  width: 70px;
}

.price-block2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin-top: -5px;
}

.product-price {
  font-size: 32px;
  font-weight: 700;
  color: #212121;
}

.old-price {
  text-decoration: line-through;
  color: #878787;
  font-size: 18px;
  font-weight: 500;
}

.discount-text {
  color: #388e3c;
  font-size: 18px;
  font-weight: 600;
}

.offers-section h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.offers-section ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.offers-section li {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 8px;
  word-spacing: 2px;
  max-width: 650px;
}

.delivery-seller {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.delivery-label,
.seller-label {
  font-size: 17px;
  font-weight: 600;
  color: #212121;
}

.delivery {
  font-size: 15px;
  color: #388e3c;
}

.seller-name {
  font-size: 16px;
  font-weight: 500;
}

.seller-rating {
  background: #388e3c;
  padding: 2px 5px;
  color: white;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 13px;
}

.seller-details {
  color: #777;
  font-size: 14px;
}

.price-options {
  margin-top: 5px;
}

.option {
  font-size: 15px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.highlights-section h4,
.description-section h4 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
}

.highlights-section ul {
  margin: 0;
  padding-left: 18px;
}

.highlights-section li {
  font-size: 15px;
  margin-bottom: 6px;
}

.description-section p {
  font-size: 15px;
  color: #444;
  line-height: 1.6;
}
