.banner-container {
  width: 100%;
  margin: 20px auto;
  overflow: visible;
  
}

.banner-img {
  width: 100%;
  height: 250px;
  object-fit: cover;

}
.slick-prev:before,
.slick-next:before {
  color: #333 !important;    /* make them visible */
  font-size: 30px !important;
}

.slick-prev {
  left:-30px !important;
  z-index: 2;
}

.slick-next {
  right: -20px  !important; 
  z-index: 2;
}
